{{ define "home/index.tmpl" }}
<html>
    {{ template "globals/header.tmpl" .}}
    <body>
        {{ template "globals/navbar.tmpl" .}}

        <div class="container">
            <div>
                <h1>{{ .Message }}</h1>
            </div>
        </div>

        {{ template "globals/footer.tmpl" .}}
    </body>
</html>
{{ end }}
