{{ define "static/js.tmpl" }}
<!-- Bootstrap JS -->
<script src="/assets/js/popper-core-2.11.8.min.js"></script>
<script src="/assets/js/bootstrap-5.3.2.min.js"></script>
<script src="/assets/js/script.js"></script>
{{ end }}
