{{ define "users/create.tmpl" }}
<html>
    {{ template "globals/header.tmpl" .}}
    <body>
        {{ template "globals/navbar.tmpl" .}}

        <div class="container">
            <h2>Tambah Pelanggan</h1>
            <form id="create-user-form" onsubmit="submitCreateUserForm(event)">
                <div class="form-group">
                    <label for="name">Nama:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="address">Alamat:</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Nomor Telepon:</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Tambah Pelanggan</button>
            </form>
        </div>

        {{ template "globals/footer.tmpl" .}}
    </body>
</html>
{{ end }}
