{{ define "users/users.tmpl" }}
<html>
    {{ template "globals/header.tmpl" .}}
    <body>
        {{ template "globals/navbar.tmpl" .}}

        <div class="container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">User List</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-primary btn-80-bright" onclick="window.location.href='/users/create'">Add New User</button>
                </div>
            </div>

            <input type="text" id="tableSearchInput" onkeyup="searchTable()" placeholder="Search keyword..">
            
            <table id="dataTable" class="table">
                <thead class="table-dark">
                    <tr>
                        <th onclick="sortTable(0,'int')">ID</th>
                        <th onclick="sortTable(1,'string')">Name</th>
                        <th onclick="sortTable(2,'string')">Address</th>
                        <th onclick="sortTable(3,'string')">Email</th>
                        <th onclick="sortTable(4,'string')">Phone Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .UserData }}
                    <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ .Address }}</td>
                        <td>{{ .Email }}</td>
                        <td>{{ .PhoneNumber }}</td>
                        <td>
                            <button type="button" class="btn btn-primary " onclick="">
                                <img src="/assets/images/loupe.png" width="20" height="20" style="filter: invert(100%);" />
                            </button>
                            <button type="button" class="btn btn-success btn-80-bright" onclick="window.location.href='/users/update/{{ .ID }}'">
                                <img src="/assets/images/edit.png" width="20" height="20" style="filter: invert(100%);" />
                            </button>
                            <button type="button" class="btn btn-danger btn-80-bright" onclick="deleteUser({{ .ID }},{{ .Name }})">
                                <img src="/assets/images/recycle-bin.png" width="20" height="20" style="filter: invert(100%);" />
                            </button>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

        {{ template "globals/footer.tmpl" .}}
    </body>
</html>
{{ end }}
